* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  background: #fefefe; }

ul {
  list-style-type: none; }

a {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  opacity: 0.75;
  transition: all 300ms ease-out; }

a:hover {
  text-decoration: underline;
  opacity: 1; }

header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 1rem; }
  header ul {
    display: flex;
    list-style-type: none; }
  header li {
    padding: 0 1.5rem; }
  header h1 {
    font-size: 2.5rem; }

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; }
  main aside, main section {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    main aside h3, main section h3 {
      padding: 1rem 0.5rem; }
    main aside ul, main section ul {
      padding: 1rem 0.5rem;
      flex-direction: column; }
      main aside ul li, main section ul li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%; }
        main aside ul li h4, main section ul li h4 {
          font-size: 1.33rem;
          padding-bottom: 0.5rem; }
        main aside ul li img, main section ul li img {
          padding-bottom: 0.5rem; }
        main aside ul li span, main section ul li span {
          padding-bottom: 0.5rem; }
        main aside ul li p, main section ul li p {
          padding-bottom: 1rem; }
        main aside ul li a, main section ul li a {
          font-size: 1rem;
          padding-bottom: 2rem; }
  main section {
    align-items: center; }
    main section h2 {
      padding-right: 4rem; }

footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  background: #eee; }
  footer section p {
    padding: 0.5rem 0; }
  footer .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4rem; }
  footer .form-wrapper h5 {
    font-size: 1rem; }
  footer form {
    display: flex;
    flex-direction: column; }
    footer form input, footer form textarea {
      padding: 0.33rem; }
    footer form input, footer form textarea, footer form a {
      margin: 0.33rem 0; }
    footer form a {
      text-align: center;
      background: #fff;
      font-size: 1rem;
      padding: 0.5rem 0;
      border: 0.0625rem solid black;
      border-radius: 0.3rem; }
  footer nav ul li a {
    font-size: 1rem; }
  footer nav ul li {
    padding: 0.33rem 0; }
