*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background: #fefefe;
  scroll-behavior: smooth;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); }

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'header header header header header' 'aside-left main main main aside-right' 'sub-footer sub-footer sub-footer sub-footer sub-footer' 'main-footer main-footer main-footer main-footer main-footer'; }

header {
  grid-area: header; }

#left {
  grid-area: aside-left; }

#center {
  grid-area: main; }

#right {
  grid-area: aside-right; }

#sub-footer {
  grid-area: sub-footer; }

#main-footer {
  grid-area: main-footer; }

ul {
  list-style-type: none; }

a {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  opacity: 0.75;
  transition: all 300ms ease-out; }

a:hover {
  text-decoration: underline;
  opacity: 1; }

header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1rem; }
  header ul {
    display: flex;
    list-style-type: none;
    margin: 0 1rem; }
  header li {
    padding: 0 1rem; }
  header h1 {
    font-size: 1.67rem; }

aside, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  aside h2, section h2 {
    font-size: 1.33rem; }
  aside h3, section h3 {
    font-size: 1.15rem; }
  aside ul, section ul {
    padding: 1rem 0;
    flex-direction: column;
    align-items: center; }
    aside ul li, section ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.875rem;
      margin-bottom: 2rem; }
      aside ul li h4, section ul li h4 {
        font-size: 1rem;
        padding-bottom: 0.5rem; }
      aside ul li img, section ul li img {
        width: 100%;
        padding: 1rem; }
      aside ul li a, section ul li a {
        font-size: 1rem; }
  aside .flex-start > *, section .flex-start > * {
    align-self: flex-start;
    padding: 0 1rem; }
  aside .flex-start p, section .flex-start p {
    padding: 1rem; }

footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  background: #ccc; }
  footer section p {
    padding: 0.5rem 0; }
  footer .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4rem; }
  footer .form-wrapper h5 {
    font-size: 1rem; }
  footer form {
    display: flex;
    flex-direction: column; }
    footer form input, footer form textarea {
      padding: 0.33rem; }
    footer form input, footer form textarea, footer form a {
      margin: 0.33rem 0; }
    footer form a {
      text-align: center;
      background: #fff;
      font-size: 1rem;
      padding: 0.5rem 0;
      border: 0.0625rem solid black;
      border-radius: 0.3rem; }
    footer form a:hover {
      text-decoration: none; }
  footer nav ul li a {
    font-size: 1rem; }
  footer nav ul li {
    padding: 0.33rem 0; }

#main-footer {
  background: #333;
  color: #eee; }
  #main-footer img {
    border-radius: 0.3rem; }
  #main-footer a {
    color: #eee; }
  #main-footer nav {
    display: flex;
    flex-direction: row; }
    #main-footer nav ul {
      padding: 0 1rem; }
