*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  background: #fff;
  color: #000;
  scroll-behavior: smooth;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  overflow-x: hidden; }

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 'header header header header header' 'main main main main main' 'aside-left aside-left aside-left aside-left aside-left' 'aside-right aside-right aside-right aside-right aside-right' 'main-footer main-footer main-footer main-footer main-footer' 'sub-footer sub-footer sub-footer sub-footer sub-footer'; }

ul {
  list-style-type: none; }

a {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.3s ease-out; }

a:hover {
  text-decoration: underline;
  opacity: 1; }

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'brand brand nav-mobile menu-toggle' 'brand brand nav-mobile menu-toggle';
  border-bottom: 0.0625rem solid #000;
  padding: 1rem; }
  header #nav-left ul, header #nav-right ul {
    display: flex;
    flex-direction: row;
    align-items: center; }
  header #nav-left li, header #nav-right li {
    font-size: 0.5rem;
    padding: 0 1rem; }
  header #nav-left {
    grid-area: nav-left;
    display: none; }
  header #nav-right {
    grid-area: nav-right;
    display: none; }
  header #brand {
    grid-area: brand; }
    header #brand h1 {
      font-size: 1.5rem; }
  header #menu-toggle {
    justify-self: end;
    grid-area: menu-toggle;
    position: relative;
    top: 0;
    right: 0; }
  header #menu-toggle:hover {
    color: #aaa;
    transition: all 0.3s ease-in-out; }
  header #nav-mobile {
    grid-area: nav-mobile;
    position: absolute;
    right: -15rem;
    background: #333;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; }
    header #nav-mobile ul {
      padding: 0 1rem; }
      header #nav-mobile ul li {
        padding: 1rem; }
        header #nav-mobile ul li a {
          color: #eee;
          font-size: 1.5rem; }
    header #nav-mobile #nav-close {
      position: absolute;
      right: 1.5rem; }
    header #nav-mobile #nav-close:hover {
      text-decoration: none;
      color: #999; }
  header #nav-mobile:target {
    transform: translateX(-15rem); }

#left {
  grid-area: aside-left; }

#center {
  grid-area: main; }

#right {
  grid-area: aside-right; }

aside, #main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  aside h2, #main-content h2 {
    font-size: 1.33rem; }
  aside h3, #main-content h3 {
    font-size: 1.15rem; }
  aside ul, #main-content ul {
    padding: 1rem 0;
    flex-direction: column;
    align-items: center; }
    aside ul li, #main-content ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.875rem;
      margin-bottom: 2rem; }
      aside ul li h4, #main-content ul li h4 {
        font-size: 1rem;
        padding-bottom: 0.5rem; }
      aside ul li img, #main-content ul li img {
        width: 100%;
        padding: 1rem; }
      aside ul li span, aside ul li p, aside ul li a, #main-content ul li span, #main-content ul li p, #main-content ul li a {
        width: 80%;
        padding: 0.5rem 0; }
      aside ul li a, #main-content ul li a {
        font-size: 1rem; }

#main-footer {
  grid-area: main-footer;
  background: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: space-around; }
  #main-footer #mf-img img {
    width: 100vw;
    min-height: 10vh; }
  #main-footer #mf-nav-1 {
    display: flex;
    justify-content: space-around; }
    #main-footer #mf-nav-1 ul {
      display: flex;
      flex-direction: column;
      margin: 1rem; }
      #main-footer #mf-nav-1 ul li {
        padding: 0.2rem 0; }
        #main-footer #mf-nav-1 ul li a {
          color: #fff; }
  #main-footer #mf-nav-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #main-footer #mf-nav-2 ul li {
      padding: 1rem 0.25rem; }
      #main-footer #mf-nav-2 ul li a {
        color: #fff; }

#sub-footer {
  grid-area: sub-footer;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'about about about' 'form-wrapper form-wrapper form-wrapper' 'sf-nav sf-nav sf-nav';
  justify-items: center;
  padding: 2rem 0;
  background: #ccc; }
  #sub-footer #about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #sub-footer #about p {
      padding: 0.25rem 0; }
  #sub-footer .form-wrapper {
    grid-area: form-wrapper;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column; }
    #sub-footer .form-wrapper h5 {
      font-size: 1.5rem;
      align-self: center;
      padding: 0.3rem 0; }
    #sub-footer .form-wrapper form {
      display: flex;
      flex-direction: column;
      align-self: center;
      Width: 65vw; }
      #sub-footer .form-wrapper form input, #sub-footer .form-wrapper form textarea {
        padding: 0.33rem; }
      #sub-footer .form-wrapper form input, #sub-footer .form-wrapper form textarea, #sub-footer .form-wrapper form a {
        margin: 0.33rem; }
      #sub-footer .form-wrapper form a {
        text-align: center;
        background: #fff;
        font-size: 1rem;
        padding: 0.5rem 0;
        border: 0.0625rem solid black;
        border-radius: 0.3rem; }
      #sub-footer .form-wrapper form a:hover {
        background: #333;
        color: #fff;
        text-decoration: none; }
  #sub-footer #sf-nav {
    grid-area: sf-nav; }
    #sub-footer #sf-nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #sub-footer #sf-nav ul li {
        padding: 1rem 0.25rem; }

@media (min-width: 60rem) {
  body {
    display: grid;
    grid-template-areas: 'header header header header header' 'aside-left main main main aside-right' 'main-footer main-footer main-footer main-footer main-footer' 'sub-footer sub-footer sub-footer sub-footer sub-footer'; }
  header {
    grid-template-areas: 'nav-left brand brand nav-right';
    justify-items: center; }
    header #brand h1 {
      font-size: 2rem; }
    header #nav-left, header #nav-right {
      display: flex; }
    header .toggle, header #nav-mobile {
      display: none; }
  #main-footer #mf-nav-2 ul li, #sub-footer #sf-nav ul li {
    padding: 2rem; }
  #sub-footer .form-wrapper form {
    width: 35vw; } }

@media (min-width: 40rem) and (max-width: 60rem) {
  body {
    display: grid;
    grid-template-areas: 'header header header header header' 'aside-left aside-left main main main' 'aside-right aside-right aside-right aside-right aside-right' 'main-footer main-footer main-footer main-footer main-footer' 'sub-footer sub-footer sub-footer sub-footer sub-footer'; }
  header {
    grid-template-areas: 'brand brand nav-left nav-right'; }
    header #brand h1 {
      font-size: 2rem; }
    header #nav-left, header #nav-right {
      display: flex; }
    header .toggle, header #nav-mobile {
      display: none; }
  #main-footer #mf-nav-2 ul li, #sub-footer #sf-nav ul li {
    padding: 1rem; }
  #sub-footer .form-wrapper form {
    width: 50vw; } }
