// Variables

$font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

// Global

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #fff;
    color: #000;
    scroll-behavior: smooth;
    font-size: $font-size;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        'header header header header header'
        'main main main main main'
        'aside-left aside-left aside-left aside-left aside-left'
        'aside-right aside-right aside-right aside-right aside-right'
        'main-footer main-footer main-footer main-footer main-footer'
        'sub-footer sub-footer sub-footer sub-footer sub-footer';
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.75;
    transition: all 0.3s ease-out;
}

a:hover {
    text-decoration: underline;
    opacity: 1;
}

// Default background for images / lazy loading

.skeleton {
    background-color: #eee;
    background-clip: content-box;
}

img {
    border-radius: 1.5rem;
}

// Header

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'brand brand nav-mobile menu-toggle'
        'brand brand nav-mobile menu-toggle';
        border-bottom: 0.0625rem solid #000;
    padding: 1rem;
    
    
    
    #nav-left, #nav-right {
        
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        li {
            font-size: 0.5rem;
            padding: 0 1rem;
        }
        
    }
    
    #nav-left {
        grid-area: nav-left;
        display: none;
    }
    
    #nav-right {
        grid-area: nav-right;
        display: none;
    }
    
    
    #brand {
        grid-area: brand;
        
        h1 {
            font-size: 1.5rem;
            }
            
    }
    
    #menu-toggle {
        justify-self: end;
        grid-area: menu-toggle;
        position: relative;
        top: 0;
        right: 0;
    }
    
    #menu-toggle:hover {
        color: #aaa;
        transition: all 0.3s ease-in-out;
    }
    
    #nav-mobile {
        grid-area: nav-mobile;
        position: absolute;
        right: -15rem;
        background: #333;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    
        ul {
            padding: 0 1rem;
            
            li {
                padding: 1rem;
                
                a {
                    color: #eee;
                    font-size: 1.5rem;
                }   
                
            }
        
        }
        
        #nav-close {
            position: absolute;
            right: 1.5rem;
        }
        
        #nav-close:hover {
            text-decoration: none;
            color: #999;
        }
        
    }
    
    #nav-mobile:target {
        transform: translateX(-15rem);
    }
    
}

// Main

#left {
    grid-area: aside-left;
    position: relative;
}

#left::after {
    content : "";
    position: absolute;
    top: 2.5%;
    right: 0;
    width: 0.0625rem;
    height: 95%;
    background: #666;
}

#center {
    grid-area: main;
}

#right {
    grid-area: aside-right;
    position: relative;
}

#right::after {
    content : "";
    position: absolute;
    top: 2.5%;
    left: 0;
    width: 0.0625rem;
    height: 95%;
    background: #666;
}

#left, #center, #right {
    border-bottom: 0.0625rem solid #666;
    margin: 3rem 0 0;
}

aside, #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    h2, h3 {
        font-size: 2.33rem;
    }

    ul {
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
        
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.875rem;
            margin-bottom: 2rem;
        
            h4 {
                font-size: 1.5rem;
                padding-bottom: 0.5rem;
            }
            
            img {
                width: 100%;
                padding: 1rem;
            }
            
            span, p, a {
                width: 80%;
                padding: 0.5rem 0;
            }
            
            a {
                font-size: 1rem;
            }
            
        }
    }
    
}

// Main Footer

#main-footer {
    grid-area: main-footer;
    background: #333;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    
    #mf-img {
        
        img {
            width: 100vw;
            min-height: 10vh;
            border-radius: 0;
        }
    }
    
    #mf-nav-1 {
        display: flex;
        justify-content: space-around;
        
        ul {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            
            li {
                padding: 0.2rem 0;
            
                a {
                    color: #fff;
                }
                
            }
            
        }
        
    }
    
    #mf-nav-2 {
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            li {
                padding: 1rem 0.25rem;
                
                a {
                    color: #fff;
                }
                
            }
            
        }
        
    }
    
}

// Sub Footer

#sub-footer {
    grid-area: sub-footer;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'about about about'
        'form-wrapper form-wrapper form-wrapper'
        'sf-nav sf-nav sf-nav';
    justify-items: center;
    padding: 2rem 0;
    background: #ccc;
    
    #about {
        grid-area: about;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
            padding: 0.25rem 0;
        }
        
    }
    
    .form-wrapper {
        grid-area: form-wrapper;
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        
        h5 {
            font-size: 1.5rem;
            align-self: center;
            padding: 0.3rem 0;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-self:center;
            Width: 65vw;
            
            input, textarea {
                padding: 0.33rem;
            }
            
            input, textarea, a {
                margin: 0.33rem;
            }
            
            a {
                text-align: center;
                background: #fff;
                font-size: 1rem;
                padding: 0.5rem 0;
                border: 0.0625rem solid black;
                border-radius: 0.3rem;
                
            }
            
            a:hover {
                background: #333;
                color: #fff;
                text-decoration: none;
            }
            
        }
        
    }
    
    #sf-nav {
        grid-area: sf-nav;
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            li {
                padding: 1rem 0.25rem;
            }
        }
        
    }
    
}


// Media Queries

// Large Desktop

// @media (min-width: 80rem) {
    
// }

//Regular Desktop

@media (min-width: 60rem) {
    
    body {
        display: grid;
        grid-template-areas:
        'header header header header header'
        'aside-left main main main aside-right'
        'main-footer main-footer main-footer main-footer main-footer'
        'sub-footer sub-footer sub-footer sub-footer sub-footer';
    }
    
    aside {
        
        h3 {
            font-size: 1.25rem;
        }
        
        ul li {
            
            h4 {
                font-size: 1rem;
            }
            
        }
    }
    
    #main-content {
        
        h2 {
            font-size: 1.75rem;
        }
        
        ul li {
            
            h4 {
                font-size: 1rem;
            }
            
        }
        
    }
    
    #left, #center, #right {
        border-bottom: none;
        margin: 0;
    }
    
    header {
        grid-template-areas:
        'nav-left brand brand nav-right';
        justify-items: center;
      
        #brand h1 {
            font-size: 2rem;
        }  
        
        #nav-left, #nav-right {
            display: flex;
        }
        
        .toggle, #nav-mobile {
            display: none;
        }
        
    } 
    
    #main-footer #mf-nav-2, #sub-footer #sf-nav {
        
        ul li {
            padding: 2rem;
        }
        
    }
    
    #sub-footer .form-wrapper form {
        width: 35vw;
    }
    
}


@media (min-width: 40rem) and (max-width: 60rem) {
    
    body {
        display: grid;
        grid-template-areas:
        'header header header header header'
        'aside-left aside-left main main main'
        'aside-right aside-right aside-right aside-right aside-right'
        'main-footer main-footer main-footer main-footer main-footer'
        'sub-footer sub-footer sub-footer sub-footer sub-footer';
    }
    
    header {
        grid-template-areas:
        'brand brand nav-left nav-right';
        
        #brand h1 {
            font-size: 2rem;
        }
        
        #nav-left, #nav-right {
            display: flex;
        }
        
        .toggle, #nav-mobile {
            display: none;
        }
    
    }
    
    #left, #center {
        border-bottom: 0.0625rem solid #666;
    }

    #right {
        margin: 3rem 0;
        border: none;
    }
    
    #main-footer #mf-nav-2, #sub-footer #sf-nav {
        
        ul li {
            padding: 1rem;
        }
        
    }
    
    #sub-footer .form-wrapper form {
        width: 50vw;
    }

}

