// Variables

$font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

// Global

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background: #fff;
    scroll-behavior: smooth;
    font-size: $font-size;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        'header header header header header'
        'main main main main main'
        'aside-left aside-left aside-left aside-left aside-left'
        'aside-right aside-right aside-right aside-right aside-right'
        'main-footer main-footer main-footer main-footer main-footer'
        'sub-footer sub-footer sub-footer sub-footer sub-footer';
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.75;
    transition: all 300ms ease-out;
}

a:hover {
    text-decoration: underline;
    opacity: 1;
}

// Header

#nav-left {
    grid-area: nav-left;
}

#brand {
    grid-area: brand;
}

#nav-right {
    grid-area: nav-right;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'brand brand nav-left nav-left'
        'brand brand nav-right nav-right';
    align-items: stretch;
    padding: 1rem;
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style-type: none;
        margin: 0;
    }
    
    li {
        font-size: 0.5rem;
        padding: 0.125rem;
    }
    
    
    #brand {
        // margin-left: 5rem;
        
        h1 {
            font-size: 1.5rem;
            white-space: nowrap;
        }
    }
    
    
}

// Main

#left {
    grid-area: aside-left;
}

#center {
    grid-area: main;
}

#right {
    grid-area: aside-right
}

aside, #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    h2 {
        font-size: 1.33rem;
    }
    
    h3 {
        font-size: 1.15rem;
    }

    ul {
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
        
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.875rem;
            margin-bottom: 2rem;
        
            h4 {
                font-size: 1rem;
                padding-bottom: 0.5rem;
            }
            
            img {
                width: 100%;
                padding: 1rem;
            }
            
            a {
                font-size: 1rem;
            }
            
        }
    }
    
}

// Main Footer

#main-footer {
    grid-area: main-footer;
    background: #333;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    
    #mf-img {
        
        img {
            width: 100vw;
        }
    }
    
    #mf-nav-1 {
        display: flex;
        justify-content: space-around;
        
        ul {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            
            li {
                padding: 0.2rem 0;
            
                a {
                    color: #fff;
                }
                
            }
            
        }
        
    }
    
    #mf-nav-2 {
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 1rem;
            
            li {
                padding: 1rem;
                
                a {
                    color: #fff;
                }
                
            }
            
        }
        
    }
    
}

// Sub Footer

#sub-footer {
    grid-area: sub-footer;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'about about about'
        'form-wrapper form-wrapper form-wrapper'
        'sf-nav sf-nav sf-nav';
    justify-items: center;
    padding: 2rem 0;
    background: #ccc;
    
    #about {
        grid-area: about;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
            padding: 0.25rem 0;
        }
        
    }
    
    .form-wrapper {
        grid-area: form-wrapper;
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        
        h5 {
            font-size: 1.5rem;
            align-self: center;
            padding: 0.3rem 0;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-self:center;
            Width: 65vw;
            
            input, textarea {
                padding: 0.33rem;
            }
            
            input, textarea, a {
                margin: 0.33rem;
            }
            
            a {
                text-align: center;
                background: #fff;
                font-size: 1rem;
                padding: 0.5rem 0;
                border: 0.0625rem solid black;
                border-radius: 0.3rem;
                
            }
            
            a:hover {
                text-decoration: none;
            }
            
        }
        
    }
    
    #sf-nav {
        grid-area: sf-nav;
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 1rem;
            
            li {
                padding: 1rem;
            }
        }
        
    }
    
}


// Media Queries

// Large Desktop

// @media (min-width: 80rem) {
    
// }

//Regular Desktop

@media (min-width: 60rem) {
    
    header{
        grid-template-areas:
        'nav-left brand brand nav-right';
        justify-items: center;
      
        #brand h1 {
            font-size: 2rem;
        }  
        
        ul {
            flex-direction: row;
            
            li {
                padding: 0 0.2rem;
            }
            
        }
        
    } 

    body {
        display: grid;
        grid-template-areas:
        'header header header header header'
        'aside-left main main main aside-right'
        'main-footer main-footer main-footer main-footer main-footer'
        'sub-footer sub-footer sub-footer sub-footer sub-footer';
    }
    
    #sub-footer .form-wrapper form {
        width: 35vw;
    }
    
}


@media (min-width: 40rem) and (max-width: 60rem) {
    
    header {
        grid-template-areas:
        'brand brand nav-left nav-right';
        
        #brand h1 {
            font-size: 2rem;
        }
        
        ul {
            flex-direction: row;
            
            li {
                padding: 0 0.15rem;
            }
            
        }
        
        #nav-left {
            justify-self: flex-end;
        }
    
    } 
    
    body {
        display: grid;
        grid-template-areas:
        'header header header header header'
        'aside-left aside-left main main main'
        'aside-right aside-right aside-right aside-right aside-right'
        'main-footer main-footer main-footer main-footer main-footer'
        'sub-footer sub-footer sub-footer sub-footer sub-footer';
    }
    
    #sub-footer .form-wrapper form {
        width: 50vw;
    }

    
}

